* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e9e5e5;
}

.browser-window {
  width: 100%;
  border-radius: 10px;
  background-color: white;
  height: 50vh;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.browser-header {
  width: 100%;
  background-color: red;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.searchBar {
  width: 50%;
}
.searchBar input {
  margin-right: 40px;
  padding: 5px;
  width: 100%;
}
input:focus {
  outline: none;
}
.buttons {
  display: flex;
  gap: 4px;
}
span {
  display: block;
  height: 20px;
  width: 20px;
  border-radius: 50%;
}
.close {
  background-color: #fff;
}
.minimizes {
  background-color: aqua;
}
.maximize {
  background-color: pink;
}
.browser-content {
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
h1 {
  padding: auto 4px;
}
.author {
  margin: 4px;
}
